<div class="orderArea ec-shop-ordererForm">
    <div class="title">
        <h3>주문 정보</h3>
        <p class="required">
            <img
                src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                alt="필수"
            />
            필수입력사항
        </p>
    </div>
    <div class="ec-base-table typeWrite">
        <table border="1" summary="">
            <caption>
                주문 정보 입력
            </caption>
            <colgroup>
                <col style="width: 139px" />
                <col style="width: auto" />
            </colgroup>
            <!-- 국내 쇼핑몰 -->
            <tbody class="address_form">
                <tr>
                    <th scope="row">
                        주문하시는 분
                        <img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                            alt="필수"
                        />
                    </th>
                    <td>
                        <input
                            id="oname"
                            name="oname"
                            fw-filter="isFill"
                            fw-label="주문자 성명"
                            fw-msg=""
                            class="inputTypeText"
                            placeholder=""
                            size="15"
                            value=""
                            type="text"
                        />
                    </td>
                </tr>
                <tr class="">
                    <th scope="row">
                        주소
                        <img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                            alt="필수"
                        />
                    </th>
                    <td>
                        <input
                            id="ozipcode1"
                            name="ozipcode1"
                            fw-filter="isFill"
                            fw-label="주문자 우편번호1"
                            fw-msg=""
                            class="inputTypeText"
                            placeholder=""
                            size="6"
                            maxlength="6"
                            readonly="1"
                            value=""
                            type="text"
                        />
                        <a
                            href="#none"
                            id="btn_search_ozipcode"
                            class="btnNormal"
                            >우편번호</a
                        ><br />
                        <input
                            id="oaddr1"
                            name="oaddr1"
                            fw-filter="isFill"
                            fw-label="주문자 주소1"
                            fw-msg=""
                            class="inputTypeText"
                            placeholder=""
                            size="40"
                            readonly="1"
                            value=""
                            type="text"
                        />
                        <span class="txtInfo">기본주소</span><br />
                        <input
                            id="oaddr2"
                            name="oaddr2"
                            fw-filter="isFill"
                            fw-label="주문자 주소2"
                            fw-msg=""
                            class="inputTypeText"
                            placeholder=""
                            size="40"
                            value=""
                            type="text"
                        />
                        <span class="txtInfo">나머지주소</span
                        ><span class="grid displaynone">(선택입력가능)</span>
                    </td>
                </tr>
                <tr class="">
                    <th scope="row">
                        일반전화
                        <span class="displaynone"
                            ><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                                alt="필수"
                        /></span>
                    </th>
                    <td>
                        <select
                            id="ophone1_1"
                            name="ophone1_[]"
                            fw-filter="isNumber"
                            fw-label="주문자 전화번호"
                            fw-alone="N"
                            fw-msg=""
                        >
                            <option value="02">02</option>
                            <option value="031">031</option>
                            <option value="032">032</option>
                            <option value="033">033</option>
                            <option value="041">041</option>
                            <option value="042">042</option>
                            <option value="043">043</option>
                            <option value="044">044</option>
                            <option value="051">051</option>
                            <option value="052">052</option>
                            <option value="053">053</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="061">061</option>
                            <option value="062">062</option>
                            <option value="063">063</option>
                            <option value="064">064</option>
                            <option value="0502">0502</option>
                            <option value="0503">0503</option>
                            <option value="0504">0504</option>
                            <option value="0505">0505</option>
                            <option value="0506">0506</option>
                            <option value="0507">0507</option>
                            <option value="070">070</option>
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                            <option value="0508">0508</option></select
                        >-<input
                            id="ophone1_2"
                            name="ophone1_[]"
                            maxlength="4"
                            fw-filter="isNumber"
                            fw-label="주문자 전화번호"
                            fw-alone="N"
                            fw-msg=""
                            size="4"
                            value=""
                            type="text"
                        />-<input
                            id="ophone1_3"
                            name="ophone1_[]"
                            maxlength="4"
                            fw-filter="isNumber"
                            fw-label="주문자 전화번호"
                            fw-alone="N"
                            fw-msg=""
                            size="4"
                            value=""
                            type="text"
                        />
                    </td>
                </tr>
                <tr class="">
                    <th scope="row">
                        휴대전화
                        <span class=""
                            ><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                                alt="필수"
                        /></span>
                    </th>
                    <td>
                        <select
                            id="ophone2_1"
                            name="ophone2_[]"
                            fw-filter="isNumber&amp;isFill"
                            fw-label="주문자 핸드폰번호"
                            fw-alone="N"
                            fw-msg=""
                        >
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option></select
                        >-<input
                            id="ophone2_2"
                            name="ophone2_[]"
                            maxlength="4"
                            fw-filter="isNumber&amp;isFill"
                            fw-label="주문자 핸드폰번호"
                            fw-alone="N"
                            fw-msg=""
                            size="4"
                            value=""
                            type="text"
                        />-<input
                            id="ophone2_3"
                            name="ophone2_[]"
                            maxlength="4"
                            fw-filter="isNumber&amp;isFill"
                            fw-label="주문자 핸드폰번호"
                            fw-alone="N"
                            fw-msg=""
                            size="4"
                            value=""
                            type="text"
                        />
                    </td>
                </tr>
            </tbody>
            <!-- 해외 쇼핑몰 -->
            <tbody class="email ec-orderform-emailRow">
                <tr>
                    <th scope="row">
                        이메일
                        <img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                            alt="필수"
                        />
                    </th>
                    <td>
                        <input
                            id="oemail1"
                            name="oemail1"
                            fw-filter="isFill"
                            fw-label="주문자 이메일"
                            fw-alone="N"
                            fw-msg=""
                            class="mailId"
                            value=""
                            type="text"
                        />@<input
                            id="oemail2"
                            name="oemail2"
                            fw-filter="isFill"
                            fw-label="주문자 이메일"
                            fw-alone="N"
                            fw-msg=""
                            class="mailAddress"
                            readonly="readonly"
                            value=""
                            type="text"
                        /><select
                            id="oemail3"
                            fw-filter="isFill"
                            fw-label="주문자 이메일"
                            fw-alone="N"
                            fw-msg=""
                        >
                            <option value="" selected="selected">
                                - 이메일 선택 -
                            </option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="nate.com">nate.com</option>
                            <option value="hotmail.com">hotmail.com</option>
                            <option value="yahoo.com">yahoo.com</option>
                            <option value="empas.com">empas.com</option>
                            <option value="korea.com">korea.com</option>
                            <option value="dreamwiz.com">dreamwiz.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="etc">직접입력</option>
                        </select>
                        <ul class="gBlank5 txtInfo">
                            <li>
                                - 이메일을 통해 주문처리과정을 보내드립니다.
                            </li>
                            <li>
                                - 이메일 주소란에는 반드시 수신가능한
                                이메일주소를 입력해 주세요
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <!-- 비회원 결제 -->
            <tbody class="noMember displaynone">
                <tr class="ec-orderform-NoMemberPasswdRow">
                    <th scope="row">
                        주문조회 비밀번호
                        <img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                            alt="필수"
                        />
                    </th>
                    <td>
                        <span id="order_password_alert" class="txtWarn"></span
                        ><span id="order_password_msg">
                            (영문대소문자/숫자/특수문자 중 2가지 이상 조합,
                            6자~16자)</span
                        >
                    </td>
                </tr>
                <tr class="ec-orderform-NoMemberPasswdRow">
                    <th scope="row">
                        주문조회 비밀번호<br />확인
                        <img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/order/ico_required.gif"
                            alt="필수"
                        />
                    </th>
                    <td>
                        <span
                            id="order_password_confirm_alert"
                            class="txtWarn"
                        ></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
