<ul class="spec_01">
    
<!--
    ** spec_01

    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 8px;
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 12px; 
-->


    <li class="custom_price strike displaynone">0원</li>
    <!-- 
        ** strike
        text-decoration: line-through;
        font-weight: normal; 

        ** displayNone
        display: none !important;
}
    -->
    <li class="price ">29,800원 
        <!-- 
            ** price
            display: inline-block;
            color: #121212; 
        -->
        <span class="displaynone"></span>
    </li>
    <li class="sale_price">
        <!-- 추후 알아보기/..  -->
    </li>
</ul>